#alldiv {
  margin-left: 200px;
  margin-top: 100px;
}
#cardlefttop {
  margin-top: 30px;
  margin-left: 30px;
}
#cardleftbottom {
  margin-top: 40px;
}
#nextgame {
  margin-left: 280px;
}
#vsimg {
  margin-left: 50px;
}
