#maindboardiv{
    margin-left: 25%;
}
#atc{
    margin-left: 60%;
}
#commenttop{
    margin-top: 20px;
}
#commentmiddle{
    border-top:  1px solid;
    margin-top: 20px;
    width: 1000px; 
}
#commentview{
    border-top:  1px solid;
    margin-top: 100px;
    width: 1000px; 
}
